body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
}

.price-container {
    text-align: center;
    margin-top: 10px;
}

.toggle-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-label {
    font-weight: bold;
    margin: 0 15px;
    color: #333;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

.slider:checked.round:before {
    transform: translate(26px);
}

input:checked + .slider {
    background-color: #4CAF50;

}

input:focus + .slider {
    box-shadow: 0 0 1px #4CAF50;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Added Prices display */

.price-display {
    display: flex;
    justify-content: center;
    
}

.price {
    font-size: 2em;
    font-weight: bold;
    margin: 0 17px;
    color: #333;
}

p {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

/* Create card container */
.card-container {
    display: block;
    width: 45vh;
    height: 45vh;
    margin-left: 30rem;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background-color: lemonchiffon;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    border-radius: 5px;

}

/* Adjust to make it responsive */

@media (max-width: 768px) {
    .card-container {
      margin-left: 10rem; 
    }
  }
  
  @media (max-width: 390px) {
    .card-container {
      margin-left: 1rem; 
      width: 38vh;
    }
  }

  /* style button */

  .button-style {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color:aliceblue;
    background-color: #4CAF50;
  }
